<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title></title>
        <link rel="stylesheet" href="http://wilfryed.com/app/infernal/assets/css/foundation.min.css" />
    </head>
    <body>
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li><a href="http://wilfryed.com/app/infernal/">Accueil</a></li>
                    <!--<li><a href="#"><?php echo $articles->randomEntry();?></a></li>-->
                </ul>
            </div>
        </div>
        

